# *** Mimick .gitignore ***

# Basic ones
/coverage
/docs
/node_modules
/.env
/examples

# Please..
.DS_Store
npm-debug.log
yarn-error.log

# We're a library, so please, also no lock files
/package-lock.json
/yarn.lock

# *** .npmignore specific ***

# Basic .npmignore
.editorconfig
.eslintignore
.eslintrc
/test

# Library specific .npmignore
/schema-parser.pegjs
